body {
    background: steelblue; /*color del fondo del body*/
    color: #eee; /*color letras*/
    font-family: sans-serif; /*fuentes*/
    text-align: center; /*ajuste del texto*/
  }
  
  #tablero {
    margin-top: 50px; /*margen con el h1*/
    background: url(http://img.freepik.com/free-photo/wooden-texture_1160-686.jpg?size=338&amp;ext=jpg); /*foto del fondo de ajedrez*/
    box-shadow: 0 10px 10px -6px rgba(0, 0, 0, .6); /*sombra del tablero*/
    border-radius: 3px; /*pequeño redondeo de las esquinas*/
    border-collapse: collapse; /*colapsa bordes para que se vea mas junto*/
    height: 400px; /*altura del tablero*/
    width: 400px; /*ancho del tablero*/
    position: absolute; /*el tablero se coloca en el medio*/
    top: 30px; /*asigna un valor en px de la distancia con el h1*/
    right: 0; /*sirve para mover un elemento hacia la izquierda*/
    bottom: 0; /*sirve para mover un elemento hacia arriba*/
    left: 0; /*sirve para mover un elemento hacia la derecha*/
    margin: auto; /*margen general*/
  }

  #tablero div div {
    color: #222; /*establece un color a las piezas*/
    float: left; /*ordena las piezas de manera horizontal*/
    font-size: 36px; /*tamaño de las piezas*/
    text-shadow: 1px 1px 1px rgba(255, 255, 255, .6); /*ligera sombra de las fichas*/
    width: 50px; /*ancho de las piezas*/
    height: 50px; /*largo de las piezas*/
  }

  #tablero div:nth-child(odd) div:nth-child(even),
#tablero div:nth-child(even) div:nth-child(odd) {
  background: rgba(0, 0, 0, .4);
}

#tablero div:nth-child(n+7) div {
    color: #fff;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, .6);
  }
  
 